<article class="wrapper">
    
    <section class="main">
        
        <section class="tab-content">
            
           <section class="tab-pane active fade in content" id="dashboard">
               
                <div class="row">
                   
                    <div class="col-md-6 col-sm-3">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <h1>$<?php echo $yx['user']['wallet']?></h1>
                                <p>Available Balance</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-sm-3">
                        <div class="panel panel-success">
                            <div class="panel-body">
                                <h1>Unlimited</h1>
                                <p>Call and Text Allowance</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-sm-3">
                        <div class="panel panel-danger">
                            <div class="panel-body">
                                <h1>Unlimited</h1>
                                <p>Text Allowance</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-sm-3">
                        <div class="panel panel-warning">
                            <div class="panel-body">
                                <h1>1GB</h1>
                                <span>Available Data</span>
                                <button class="btn btn-main pull-right">Upgrade</button>
                            </div>
                        </div>
                    </div>
                   
                   <div class="col-xs-12 col-sm-9">
                       <div class="panel panel-default">
                           <div class="panel-heading">
                               Something
                           </div>
                           <div class="panel-body">
                               This layout uses tabs to demonstrate what you could do with it. It probably makes more sense to use individual pages/templates in a production app.
                               <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                           </div>
                       </div>
                   </div>
                   
                   <div class="col-xs-12 col-sm-3">
                       <div class="panel panel-default">
                           <div class="panel-heading">
                               Overview
                           </div>
                           <div class="panel-body">
                              <p>Username: </p>
                              <p>Number: </p>
                             <a href="#"><p>Add a new number</p></a> 
                           </div>
                       </div>
                       
                       <div class="panel panel-default">
                           <div class="panel-heading">
                               Service Providers
                           </div>
                           <div class="panel-body">
                               <p>EE</p>
                               <p>Three</p>
                               <p>Verizon</p>
                           </div>
                       </div>
                   </div>
                   
               </div>
               
           </section>
            
    </section>

    </section>
    
</article>