<div class="yx-plus-trending-news-list-wrapper">
	<div class="col-md-11 no-padding-both">
		<div class="col-md-5 no-padding-both">
			<div class="yx-plus-trending-news-list-thumb">
				<img src="<?php echo $yx['trending_data']['news']['small_image']; ?>" alt="Picture" class="image">
			</div>
		</div>
		<div class="col-md-7">
			<div class="yx-plus-trending-news-list-info">
				<div class="yx-plus-trending-news-list-title">
					<a href="<?php echo $yx['trending_data']['news']['url']; ?>">
						<h4>
							<?php echo $yx['trending_data']['news']['title']; ?>
						</h4>
					</a>
				</div>
				<div class="yx-plus-trending-news-list-desc">
					<article>
						<?php echo $yx['trending_data']['news']['description']; ?>
					</article>
				</div>
				<div class="yx-plus-trending-news-list-meta">
					<a href="#">
						<?php echo $yx['trending_data']['news']['publisher']['name']; ?>
						<?php if ($yx['trending_data']['news']['publisher']['verified'] == 1): ?>
							<span class="verified-icon"><i class="fa fa-check-circle"></i></span>
						<?php endif; ?>
					</a>
					<time>
						<i class="fa fa-clock-o"></i>
						<?php echo $yx['trending_data']['news']['posted']; ?>
					</time>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>